 /* Resposive css stard */
 @media screen and (max-width:768px) {
    /* Influencer products part stard */
    .container{
        padding: 0 20px;
         text-align: center;
    }
    .Manu-part{
        flex-direction: column;
    }
    .Manu-part .manu ul {
        flex-direction: column;
        align-items: center;
    }
    .banner{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .banner .banner-img{
    }
    /* Influencer products part end  */
      /* Sponser company logo part stard */
    .company{
        display: flex ;
        flex-wrap: wrap;
        
    }
    .company a{
        padding:0 20px;
    }
    /* Sponser company logo part end */
    /* popular collection part stard */
    .collection-part{
        flex-direction: column;
        width: auto;
    }
    .collection-part .card ul{
        padding: 0 0 0 60px;
    }
    .collection-part .card .dis{
        padding-bottom: 30px;

    }

    /* popular collection part end */
    /* Featured products at one place part stard  */
   .Featured-products .banner{
        flex-direction: column;
        flex-direction: column-reverse;
    
    }
    .Featured-products .banner .banner-img{
        padding: 0 20px;
        width: 100%;
    }
    /* Featured products at one place part end */
    /* Influencer products part stard */
    .footer ul{
        padding: 0 100px;
     }
    /* Influencer products part end */
}